body {
  text-align: center;
  background-color: #8eac9f;
  color: #FFF;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;

}

h2
{
font-family: 'Press Start 2P', cursive;
color: #FFF;

}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #b51519;
}

.green {
  background-color: #466926;
}

.blue {
  background-color: #002f5c;
}

.yellow {
  background-color: #d3c41b;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
